.list-view{
	background-color: default-text-color;
	-fx-background-color: background-color;
}

.list-view .cell:filled{
	-fx-padding: 0.2em 1em;
	-fx-min-height: 2em;
	-fx-pref-height: 2em;
	-fx-border-width: 0 0 1px 0;
	-fx-border-color: derive(background-color, -8%);
}

.list-view .cell:filled:selected,
.list-view .cell:filled:focused{
	-fx-background-color: derive(background-color, -8%);
}