.root{
	default-background-color: #888888;
	default-text-color: white;
	primary-background-color: #292929;
	primary-text-color: white;
	success-background-color: #5cb85c;
	success-text-color: white;
	danger-background-color: #d9534f;
	danger-text-color: white;
	
	background-color: default-background-color;
	text-color: default-text-color;
}


.combo-box{
	-fx-alignment: CENTER;
	-fx-content-display: LEFT;
	-fx-background-radius: 0.3em;
	-fx-border-radius: 0.3em;
}
.combo-box-base .arrow {
	-fx-padding: 0.25em;
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}
.combo-box .list-view{
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
}






.menu-button .context-menu .menu-item {
	-fx-padding: 0.25em 1em;
	-fx-min-width: 15em;
	-fx-pref-width: 15em;
}


.progress-bar, .progress-bar > .track{
	-fx-background-insets: 0;
	-fx-border-insets: 0;
}
.progress-bar > .bar {
    -fx-background-radius: 2;
 	-fx-background-insets: 0;
    -fx-padding: 0.20em;
}


.tooltip {
    -fx-background: black;
    -fx-text-fill: white;
    -fx-background-color: rgba(30,30,30,0.8);
    -fx-background-radius: 6px;
    -fx-background-insets: 0;
    -fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
    -fx-font-size: 0.85em;
}
.cell{
	-fx-padding: 0.3em 0.5em;
}
.cell:filled{
	-fx-border-width: 0 0 1px 0;
}


.container{
	-fx-alignment: center;
}
.spaced{
	-fx-spacing: 0.5em;
}
.padded{
	-fx-padding: 0.5em;
}
.icon {
	-fx-font-family: 'FontAwesome';
	-fx-padding: 0;
	-fx-pref-width: 25px;
	-fx-pref-height: 25px;
	-fx-alignment: CENTER;
	-fx-content-display: CENTER;
}


.tiny{
	-fx-min-height: 1.4em;
	-fx-pref-height: 1.4em;
	-fx-max-height: 1.4em;
	-fx-min-width: 1.4em;
	-fx-pref-width: 1.4em;
	-fx-max-width: 1.4em;
	-fx-padding: 0;
}


.search-box.primary .text-field{
	-fx-padding: 0.2em 1em;
}
.search-box.primary .icon:hover{
	-fx-background-color: derive(primary-text-color, -10%);
}
.search-box.primary .text-field, .search-box.primary .icon{
	-fx-background-color: primary-text-color;
	-fx-text-fill: primary-background-color;
}