.root{
	default-background-color: #888888;
	default-text-color: white;
	primary-background-color: #292929;
	primary-text-color: white;
	success-background-color: #5cb85c;
	success-text-color: white;
	danger-background-color: #d9534f;
	danger-text-color: white;
	
	background-color: default-background-color;
	text-color: default-text-color;
}
.menu-bar .label, .menu-button .context-menu .menu-item, 
.label, .button, .toggle-button, .text-field, .combo-box{
	-fx-border-width: 0;
	-fx-border-insets: 0;
	-fx-background-insets: 0;
	-fx-alignment: CENTER;
	-fx-background-color: background-color;
	-fx-text-fill: text-color;
}
.label{
	background-color: transparent;
	text-fill: primary-background-color;
}
.button, .toggle-button, .text-field, .combo-box{
	-fx-background-radius: 0.35em;
	-fx-border-radius: 0.35em;
}
.button, .toggle-button{
	-fx-padding: 0.5em 1.5em;
	-fx-content-display: CENTER;
}
.text-field, .combo-box{
	-fx-padding: 0.2em 1em;
	-fx-content-display: LEFT;
}
.combo-box-base .arrow {
	-fx-padding: 0.25em;
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}
.combo-box .list-view{
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
}
.menu-button .context-menu .menu-item {
	-fx-padding: 0.25em 1em;
	-fx-min-width: 15em;
	-fx-pref-width: 15em;
}
.progress-bar, .progress-bar > .track{
	-fx-background-insets: 0;
	-fx-border-insets: 0;
}
.progress-bar > .bar {
    -fx-background-radius: 2;
 	-fx-background-insets: 0;
    -fx-padding: 0.20em;
}
.tooltip {
    -fx-background: black;
    -fx-text-fill: white;
    -fx-background-color: rgba(30,30,30,0.8);
    -fx-background-radius: 6px;
    -fx-background-insets: 0;
    -fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
    -fx-font-size: 0.85em;
}
.cell{
	-fx-padding: 0.3em 0.5em;
}
.cell:filled{
	-fx-border-width: 0 0 1px 0;
}



/* pseudo class states */
.button:hover, 
.toggle-button:hover, 
.menu-bar .menu-item:hover .label, 
.primary.combo-box:hover > .list-cell, .primary.combo-box .list-cell:hover{
	-fx-background-color: derive(background-color, 10%);
}
.button:pressed, .toggle-button:pressed{
	-fx-background-color: derive(background-color, 20%);
}
.button:focused, .toggle-button:focused{
	-fx-border-width: 1px;
	-fx-border-color: derive(background-color, 20%);
}
.button:disabled, .toggle-button:disabled{
	-fx-text-color: derive(text-color, -20%);
}





/* default */
.default-background{
	-fx-background-color: background-color;
}


/* primary */
.label.primary, .button.primary, .toggle-button.primary, .primary.menu-bar .label, .primary.combo-box .list-cell{
	background-color: primary-background-color;
	text-color: primary-text-color;
}
.label.primary.inverted, .button.primary.inverted, .toggle-button.primary.inverted{
	background-color: primary-text-color;
	text-color: primary-background-color;
}
.label.hover-primary:hover, .button.hover-primary:hover, .toggle-button.hover-primary:hover{
	text-color: success-background-color;
}
.primary-background{
	-fx-background-color: primary-background-color;
}


/* success */
.label.success, .button.success, .toggle-button.success{
	background-color: success-background-color;
	text-color: success-text-color;
}
.label.success.inverted, .button.success.inverted, .toggle-button.success.inverted{
	background-color: success-text-color;
	text-color: success-background-color;
}
.label.hover-success:hover, .button.hover-success:hover, .toggle-button.hover-success:hover{
	text-color: success-background-color;
}
.success-background{
	-fx-background-color: success-background-color;
}

/* danger */
.label.danger, .button.danger, .toggle-button.danger{
	background-color: danger-background-color;
	text-color: danger-text-color;
}
.label.danger.inverted, .button.danger.inverted, .toggle-button.danger.inverted{
	background-color: danger-text-color;
	text-color: danger-background-color;
}
.label.hover-danger:hover, .button.hover-danger:hover, .toggle-button.hover-danger:hover{
	text-color: danger-background-color;
}
.danger-background{
	-fx-background-color: danger-background-color;
}


/* combinations */
.label.primary.success, .button.primary.success, .toggle-button.primary.success{
	background-color: primary-background-color;
	text-color: success-background-color;
}
.label.primary.success.inverted, .button.primary.success.inverted, .toggle-button.primary.success.inverted{
	background-color: success-background-color;
	text-color: primary-background-color;
}

.label.primary.danger, .button.primary.danger, .toggle-button.primary.danger{
	background-color: primary-background-color;
	text-color: danger-background-color;
}
.label.primary.danger.inverted, .button.primary.danger.inverted, .toggle-button.primary.danger.inverted{
	background-color: danger-background-color;
	text-color: primary-background-color;
}
























































.icon{
	-fx-font-family: 'FontAwesome';
	-fx-padding: 0;
	-fx-pref-width: 25px;
	-fx-pref-height: 25px;
}
.box {
	-fx-spacing: 0;
}
.box .first {
	-fx-border-radius: 0.3em 0 0 0.3em;
	-fx-background-radius: 0.3em 0 0 0.3em;
}
.box .last {
	-fx-border-radius: 0 0.3em 0.3em 0;
	-fx-background-radius: 0 0.3em 0.3em 0;
}
.box .middle {
	-fx-border-radius: 0 0 0 0;
	-fx-background-radius: 0 0 0 0;
}
