.icon {
	-fx-font-family: 'FontAwesome';
	-fx-font-weight:100;
	-fx-border-width: 1;
	-fx-border-insets: 0;
	-fx-background-insets:0;
	-fx-padding: 0.2em 0.35em;
}

.icon.inverted{
	-fx-background-color: transparent;
}
