.button{
	-fx-padding: 0.5em 1.5em;
}
.context-menu{
	-fx-border-width:0;
	-fx-padding: 0;
}

.menu-button .context-menu .menu-item{
	-fx-padding: 0.25em 1em;
	-fx-min-width: 15em;
	-fx-pref-width: 15em;
}

.progress-bar, .progress-bar > .track{
	-fx-background-insets: 0;
	-fx-border-insets: 0;
}
.progress-bar > .bar {
    -fx-background-radius: 2;
 	-fx-background-insets: 0;
    -fx-padding: 0.20em;
}



.container{
	-fx-alignment: center;
	-fx-padding: 0.5em;
}
.spaced{
	-fx-spacing: 0.5em;
}
.tiny{
	-fx-min-height: 1.4em;
	-fx-pref-height: 1.4em;
	-fx-max-height: 1.4em;
	-fx-min-width: 1.4em;
	-fx-pref-width: 1.4em;
	-fx-max-width: 1.4em;
	-fx-padding: 0;
}



.box{
	-fx-spacing: 0;
	-fx-padding: 0;
}
.box .first{
	-fx-border-radius: 0.3em 0 0 0.3em;
	-fx-background-radius: 0.3em 0 0 0.3em;
}
.box .last{
	-fx-border-radius: 0 0.3em 0.3em 0;
	-fx-background-radius: 0 0.3em 0.3em 0;
}
.box .middle{
	-fx-border-radius: 0 0 0 0;
	-fx-background-radius: 0 0 0 0;
}
