.border{
	-fx-background-color: primary-background-color;
}
.border.left,
.border.right{
	-fx-pref-width:2px;
}
.border.top,
.border.bottom{
	-fx-pref-height:2px;
}


.glass{
	-fx-background-color: primary-background-color;
	-fx-opacity: 0.2;
}




.title-bar{
	-fx-alignment: center;
	-fx-padding: 0.15em 1em;
	-fx-spacing: 0.5em;
}
.logo-text,
.title-text{
	-fx-font-weight: bold;
	-fx-text-fill: -fx-light-text-color;
	-fx-background-insets: 1px;
}


 


.contact-box {
	-fx-padding: 0 2em;
}
.contact-box .button {
	-fx-font-size: 1.4em;
}
.author-label {
	-fx-font-style: italic;
	-fx-padding: 0.5em 1em;
	-fx-text-fill: -fx-light-text-color;
}




.snap-to-grid-line {
	-fx-stroke-width: 0.5px;
	-fx-stroke: lighter;
}

.snap-to-grid-rectangle {
	-fx-fill: lighter;
} 